<a href="https://colab.research.google.com/github/carloslme/ds-portfolio/blob/main/predictive-analytics/predictive_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
Predictive Analytics is a process of statistical techniques derived from data mining, machine learning and predictive modeling that obtain current and historical events to predict future events or unknown outcomes in the future.

The goal of this exercise is to build a machine learning pipeline for predictive analytics using this open dataset: https://datos.cdmx.gob.mx/dataset/incidentes-viales-c5, which shows the road incidents in Mexico City during february 2021 in the 16 town halls.

# Data Ingestion

## Getting data from website

In [ ]:
!pip install requests

In [1]:
import requests

In [2]:
res = requests.get('https://datos.cdmx.gob.mx/dataset/a6d1d483-65d2-4ed9-9687-1932eb0cf70f/resource/c6b0fe65-137c-40d6-99c9-6c527f9b29c4/download/___')

In [3]:
res.raise_for_status()
csv_file = open('incidentes-viales-c5.csv', 'wb')
for chunk in res.iter_content(100000):
  csv_file.write(chunk)

csv_file.close()

# Data Exploration

In [4]:
import pandas as pd

In [5]:
incidents = pd.read_csv('/content/incidentes-viales-c5.csv')
incidents.head()

   Unnamed: 0            folio fecha_creacion  ...  delegacion_cierre   ano mes
0           1  C5/210201/04663     01/02/2021  ...  GUSTAVO A. MADERO  2021   2
1           2  C5/210201/00391     01/02/2021  ...  GUSTAVO A. MADERO  2021   2
2           3  C5/210201/03815     01/02/2021  ...     MIGUEL HIDALGO  2021   2
3           4  C5/210201/02068     01/02/2021  ...           COYOACAN  2021   2
4           5  C5/210201/03832     01/02/2021  ...            TLALPAN  2021   2

[5 rows x 17 columns]

# Data Preprocessing

## Describe data

In [6]:
incidents.describe()

         Unnamed: 0       latitud      longitud      ano      mes
count  12947.000000  12947.000000  12947.000000  12947.0  12947.0
mean    6474.000000     19.380217    -99.131012   2021.0      2.0
std     3737.621302      0.072025      0.061818      0.0      0.0
min        1.000000     19.098188    -99.347260   2021.0      2.0
25%     3237.500000     19.330040    -99.172050   2021.0      2.0
50%     6474.000000     19.380250    -99.134292   2021.0      2.0
75%     9710.500000     19.435890    -99.086560   2021.0      2.0
max    12947.000000     19.576320    -98.952781   2021.0      2.0

In [9]:
incidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12947 entries, 0 to 12946
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         12947 non-null  int64
 1   folio              12947 non-null  object
 2   fecha_creacion     12947 non-null  object
 3   hora_creacion      12947 non-null  object
 4   dia_semana         12947 non-null  object
 5   fecha_cierre       12947 non-null  object
 6   hora_cierre        12945 non-null  object
 7   incidente_c4       12947 non-null  object
 8   delegacion_inicio  12947 non-null  object
 9   latitud            12947 non-null  float64
 10  longitud           12947 non-null  float64
 11  codigo_cierre      12947 non-null  object
 12  clas_con_f_alarma  12947 non-null  object
 13  tipo_entrada       12947 non-null  object
 14  delegacion_cierre  12947 non-null  object
 15  ano                12947 non-null  int64
 16  mes                12947 non-null  int64
dtypes: float64(2), int64(3), object(12)
memory usage: 1.7+ MB

## Data dictionary
Let's understand the meaning of each column. 

Original Data Dictionary can be found [here](https://datos.cdmx.gob.mx/dataset/a6d1d483-65d2-4ed9-9687-1932eb0cf70f/resource/49b5360c-5922-46bd-b4f8-ed0225d5ddbf/download/diccionario-de-datos-de-incidentes-viales.xlsx).

|Column|Description|
|------|-----------|
folio | Only alphanumeric code assigned to each one of the incidents generated by C5 and C2
fecha_creacion | Folio event opening date
hora_creacion | Folio event opening time
dia_semana | Folio event opening day 
fecha_cierre | Folio event closure date
hora_cierre | Folio event closure time
incidente_c4 | Type of incident
delegacion_inicio | Town hall where the incident was reported
latitud | Lattitude
longitud | Longitude
codigo_cierre | Code generated to the incident ince it was closed
clas_con_f_alarma | Incident classification
tipo_entrada | How the incident was reported 
delegacion_cierre | Town hall where the incident was closed

# Modeling

# Report

# Deployment and consumption

# Useful resources
* https://www.educba.com/predictive-analysis-vs-forecasting/?source=leftnav